* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#addImageBox {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 1200px;
}

.main_box {
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.06);
    width: 900px;
    margin: 0 auto 10px;

}

.defaultImg{
    width: 200px;
    height: 200px;
}

.defaultImgBox{
    margin:50px auto;

    background-image: url('https://cdn.imweb.me/upload/S2020020306340f9e8280d/b8dfaba58ff6e.jpg');
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    line-height: 70px;
    font-size: 15px;
}

.defaultImgBox > h3{
    min-width: 20px;
    animation: cursor 1s step-end infinite;
}

@keyframes cursor{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}



#imageBox {
    height: 400px;
}

#imageBox.active{
    background: #ddd;
}



#content_box {
    height: 700px;
}

.dropbox {
    position: absolute;
    width: 800px;
    height: 350px;
    margin-top: 20px;
    margin-left: 50px;
    border: 4px dashed #ddd;
    border-radius: 5px;
    font-size: 40px;

    text-align: center;
    line-height: 300px;
    font-weight: bold;

    user-select: none;
    transition: 0.4s;
}
.changeBox{
    position: absolute;
    width: 800px;
    height: 350px;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 40px;

    text-align: center;
    line-height: 300px;
    font-weight: bold;

    user-select: none;
    transition: 0.4s;
}
.hidebox{
    display:none;
    width: 0;
    height: 0;
    border: none;
}
.addImageBox{
    position: absolute;
    width: 800px;
    height: 350px;
}

.imgBox{
    position: relative;
    width: 800px;
    height: 350px;
    border: none;
}

#drop_box.active{
    background: #ddd;
}
#content {
    position: absolute;

    width: 800px;
    height: 450px;
    margin-top: 20px;
    margin-left: 50px;


}

.user_info {
    width: 460px;
    height: 80px;
    margin: 20px;

}

#main_content {

    width: 750px;
    height: 200px;
    margin: 20px;
}

.title_info {
    font-size: 20px;
}

.pat_input_box {
    display: inline-block;
    width: 400px;
    height: 45px;
    background-color: white;
}

.int {
    width: 334px;
    height: 29px;
    padding: 0 25px 0 0;
    border: none;
}
.int:focus{
      outline: none;
}

#pat_explanation {
    width: 700px;
    height: 150px;
}


