* {
  font-family: "Jua", sans-serif;
}
body {
  background-color: #ffab91;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffab91;
}
.up_de {
  display: flex;
}
.navbar__logo {
  margin-left: 100px;
}
#update {
  margin-right: 10px;
}
#delete {
  margin-right: 100px;
}
.wrap {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  background-color: #ffccbc;
}
.img_box {
  width: 30%;
  height: 100%;
}
#dog_img {
  margin-top: 25px;
  margin-left: 64px;
  width: 400px;
  height: 400px;
}
.comment_box {
  margin-left: 10px;
  width: 60%;
  height: 500px;
  background-color: #ff8a65;
  display: flex;
  justify-content: center;
}
.comment_contents {
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid black;
  width: 60%;
  height: 90%;
  border-radius: 10px;
}
.dog_name {
  border: 1px solid black;
}

#home_btn {
  background-color: #6d4c41;
  border: 0;
  color: white;
}
#update_btn {
  background-color: #6d4c41;
  border: 0;
  color: white;
}
#delete_btn {
  background-color: #6d4c41;
  border: 0;
  color: white;
}
#num {
  display: none;
}
.info {
  width: 80%;
  height: 40px;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.detail_info {
  display: flex;
  margin-left: 10px;
}
input[type="text"] {
  background-color: transparent;
  border: 0;
}
