@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareNeo-Variable';
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.nav-container {
    position: fixed;
    display: block;
    z-index: 1;
    width: 100%;
}

.navbar {
    max-width: 980px;
    margin: auto;
    padding-left: 0px;
}

.div-cell-md {
    display: block;
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 980px;
}

.carousel-item {
    margin-top: 56px;
    border-radius: 5px;
}

.carousel-item > img {
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    margin: auto;
    max-width: 980px;
    max-height: 500px;
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: 56px;
}

.testbg{
    background-color: green;
}

.ctt-md {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carousel-caption {
    position: relative;
    right: 0%;
    left: 0%;
    max-width: 980px;
    margin: auto;
    bottom: 0rem;
    border-radius: 0px 0px 5px 5px;
    background-color: black;
    opacity: 90%;
}

.d-flex > button:nth-child(1) {
    margin-right: 10px;
}